.main {
    width: 100vw;
    max-height: calc(100vh - 60px);
    overflow-y: scroll;
    background-color: rgb(121, 116, 116)
    color: #000;
}
.image-page img {
    width: 60%;
    height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.booking-content {
    margin: 2rem;
    font-size: 1.5rem;
    line-height: 1.4;
    display: flex;
    column-gap: 50px;
    justify-content: center;
}
.image-page p {
    font-size: 1.5rem;
    line-height: 1.4;
    padding: 9px;
    text-align: center;
}

.basket button {
    background: var(--primary-color);
    color: white;
}
/*--------------------------------*/
.information .opening-time {
    font-size: 1.4rem;
    line-height: 1.5;
}
.hint-section {
    text-align: center;
    margin-top: 18px;
    border-top: 1px solid;
    padding-top: 9px;
}
footer {
    font-size: 1.2rem;
    line-height: 1.7;
    padding: 2rem;
}

