/*============ HEADER =============*/

.header {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    position: sticky;
    top: 0;
    background-color: var(--main-color);   
    z-index: 1000;
    font-size: 1.5rem;
}

.header .logo {
    width: 80px;
    height: 40px;
    padding-left: 2rem;
}
.header .navbar #close-navbar {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    color: var(--black);
    display: none;
   
}
.header .navbar {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    column-gap: 3%;
}
.header .navbar ul,li {
    list-style-type: none;
}

.header .navbar a {
    color: var(--black);
    text-decoration: capitalize;
}
.header .navbar a:hover{
    padding-bottom: 0.5rem;
    color: var(--black);
}

.login {
    background-color: var(--main-color);  
    padding-right: 50px; 
}
.login .btn-login {
    border-radius: 15px;
    width: 70px;
    height: 30px;
}
.login .btn-login:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
}



/*========== END OF HEADER ======*/